# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ApiVenv/
.env/
*.env

# Django specific
*.log
local_settings.py
db.sqlite3
instance/
media/
staticfiles/

# Migrations
*restApi/main/migrations/__pycache__/
*restApi/main/migrations/*.pyc
*restApi/main/migrations/*.pyo
*restApi/main/migrations/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pipenv
Pipfile.lock

# Docker
*.pid

# PostgreSQL
*.dump

# Celery
celerybeat-schedule

# Other
*.swp
*.swo
Insomnia_2025-04-22.yaml
.dockerignore
